In [1]:
import mysql.connector
from mysql.connector import errorcode

In [2]:
config = {
    'host' : 'statisticsdatabase1.mysql.database.azure.com',
    'user' : 'localhost@statisticsdatabase1',
    'password': 'Henshaw5',
    'database' : 'test'
}

In [4]:
try:
   conn = mysql.connector.connect(**config)
   print("Connection established")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with the user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cursor = conn.cursor()
  cursor.execute("SELECT * FROM book2")
  rows = cursor.fetchall()
  print("Read",cursor.rowcount,"row(s) of data.")

  # Print all rows
  for row in rows:
  	print("Data row = (%s, %s, %s)" %(str(row[0]), str(row[1]), str(row[2])))

  # Cleanup
  conn.commit()
  cursor.close()
  conn.close()
  print("Done.")

Connection established
Read 37 row(s) of data.
Data row = (Abia, 16.4, 31.6)
Data row = (Adamawa, 24.8, 20.8)
Data row = (Akwa Ibom, 20.1, 37.7)
Data row = (Anambra, 17.6, 17.5)
Data row = (Bauchi, 23.6, 23.5)
Data row = (Bayelsa, 17.2, 32.6)
Data row = (Benue, 25.0, 20.1)
Data row = (Borno, 25.5, 31.4)
Data row = (Cross River, 19.9, 30.6)
Data row = (Delta, 17.9, 25.4)
Data row = (Ebonyi, 19.7, 21.1)
Data row = (Edo, 18.4, 25.1)
Data row = (Ekiti, 14.0, 20.2)
Data row = (Enugu, 17.7, 18.7)
Data row = (Gombe, 23.7, 27.0)
Data row = (Imo, 15.1, 28.2)
Data row = (Jigawa, 26.5, 38.1)
Data row = (Kaduna, 26.8, 31.0)
Data row = (Kano, 31.3, 24.3)
Data row = (Katsina, 14.3, 39.5)
Data row = (Kebbi, 20.1, 16.9)
Data row = (Kogi, 24.8, 19.7)
Data row = (Kwara, 21.4, 21.1)
Data row = (Lagos, 12.4, 14.6)
Data row = (Nasarawa, 24.3, 27.4)
Data row = (Niger, 26.9, 20.9)
Data row = (Ogun, 10.9, 16.4)
Data row = (Ondo, 17.5, 14.2)
Data row = (Osun, 14.6, 10.1)
Data row = (Oyo, 14.3, 10.3)
Data row = (Plateau, 21.8, 29.8)
Data row = (Rivers, 21.7, 36.4)
Data row = (Sokoto, 26.0, 26.6)
Data row = (Taraba, 9.0, 19.0)
Data row = (Yobe, 30.0, 29.0)
Data row = (Zamfara, 18.0, 23.0)
Data row = (Fct, Abuja, 16.0, 24.4)
Done.