In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Henshaw5",
  database="test"
)

In [2]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('book2',)

In [3]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM book2")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Abia', 16.4, 31.6)
('Adamawa', 24.8, 20.8)
('Akwa Ibom', 20.1, 37.7)
('Anambra', 17.6, 17.5)
('Bauchi', 23.6, 23.5)
('Bayelsa', 17.2, 32.6)
('Benue', 25.0, 20.1)
('Borno', 25.5, 31.4)
('Cross River', 19.9, 30.6)
('Delta', 17.9, 25.4)
('Ebonyi', 19.7, 21.1)
('Edo', 18.4, 25.1)
('Ekiti', 14.0, 20.2)
('Enugu', 17.7, 18.7)
('Gombe', 23.7, 27.0)
('Imo', 15.1, 28.2)
('Jigawa', 26.5, 38.1)
('Kaduna', 26.8, 31.0)
('Kano', 31.3, 24.3)
('Katsina', 14.3, 39.5)
('Kebbi', 20.1, 16.9)
('Kogi', 24.8, 19.7)
('Kwara', 21.4, 21.1)
('Lagos', 12.4, 14.6)
('Nasarawa', 24.3, 27.4)
('Niger', 26.9, 20.9)
('Ogun', 10.9, 16.4)
('Ondo', 17.5, 14.2)
('Osun', 14.6, 10.1)
('Oyo', 14.3, 10.3)
('Plateau', 21.8, 29.8)
('Rivers', 21.7, 36.4)
('Sokoto', 26.0, 26.6)
('Taraba', 9.0, 19.0)
('Yobe', 30.0, 29.0)
('Zamfara', 18.0, 23.0)
('Fct, Abuja', 16.0, 24.4)

In [4]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM book2 WHERE ï»¿state='Abia'")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Abia', 16.4, 31.6)

In [5]:
mycursor = mydb.cursor()
mycursor.execute("DELETE FROM book2 WHERE ï»¿state='Imo'")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [6]:
mycursor = mydb.cursor()
sql = "INSERT INTO book2 (ï»¿state,UNDEREMPLOYMENT,UNEMPLOYMENT) VALUES (%s, %s, %s)"
val = ("Imo", "234", "345")
mycursor.execute(sql,val)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [7]:
import pandas as pd
dataset=pd.read_excel(r'C:\Users\judyh\Downloads\excel files\Book2.xlsx')
df=pd.DataFrame(dataset)

In [8]:
import ipywidgets as widgets
widgets.Dropdown(
    options = df['state'],
    description = 'State:'
    )

Dropdown(description='State:', options=('Abia', 'Adamawa', 'Akwa Ibom', 'Anambra', 'Bauchi', 'Bayelsa', 'Benue…